.key-point {
  background-color: var(--primary-blue-color);
  padding: 10px;
  text-align: center;
  height: 100%;
}
.key-point__title {
  font-family: "JetsBrain";
  color: var(--primary-green-color);
  margin: 0px;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 10px;
}
.key-point__description {
  color: var(--secondary-color);
  margin: 0px;
  height: 60px;
}
@media only screen and (max-width: 603px) {
  .key-point__description {
    height: 80px;
  }
}
